amqp==1.4.9
anyjson==0.3.3
certifi==2022.12.7
chardet==3.0.4
enum-compat==0.0.2
eventlet==0.21.0
greenlet==0.4.12
idna==2.5
kombu==3.0.37
mock==2.0.0
mongoengine==0.13.0
mysql-connector-python-rf==2.2.2
nameko==2.6.0
path.py==10.3.1
pbr==3.1.1
pymongo==3.5.0
PyYAML==3.12
requests==2.18.3
six==1.10.0
SQLAlchemy==1.1.13
urllib3==1.22
Werkzeug==0.12.2
wrapt==1.10.11
