<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>websocket</title>
</head>
<body>
    <p id="demo">
        我擦
    </p>
    <div>
        我爱🇨🇳
    </div>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<script type="text/javascript" charset="utf-8">
    // 前端请求
    var chat = io.connect('http://' + document.domain + ':' + location.port);	// 通过指定的ip和port连接后端
    var data = 'hehe';
    chat.on('news', function(data){
        console.log(data);
        chat.emit('message', {msg: 'data'})
    });
</script>
<button type="button">点击这里</button>
</body>
</html>
