<!DOCTYPE html>
<html ng-app="App">
<head>
    <meta charset="utf-8" />
    <title>淘宝授权演示</title>
     <!--<link href="/static/assets/css/bootstrap.css" type="text/css" rel="stylesheet" />-->
    <link href="/static/assets/css/main.css" type="text/css" rel="stylesheet" />
    <link href="/static/assets/css/fontcustom.css" type="text/css" rel="stylesheet" />
    <base href='/'>
</head>
<body>
<div ui-view class="main-container"></div>
    <script type="text/javascript" src="/static/vender/flexible.js"></script>
    <script type="text/javascript" src="/static/vender/angular/angular.1.4.8.js"></script>
    <script type="text/javascript" src="/static/vender/angular_plugins.js"></script>
    <script type="text/javascript" src="/static/assets/js/components/helper.js"></script>
    <script type="text/javascript" src="/static/assets/js/components/const.js"></script>
    <script type="text/javascript" src="/static/assets/js/modules/core.js"></script>
    <script type="text/javascript" src="/static/assets/js/modules/auth.js"></script>
    <!-- <script type="text/javascript" src="/static/assets/js/modules/account.js"></script> -->
</body>
</html>
